.page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 16px 32px 16px;
}

.container {
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
}

.searchSticky {
  position: sticky;
  top: 80px;
  z-index: 20;
  background: var(--color-background);
  padding: 12px 16px;
  margin: 0 -16px;
}

.grid {
  display: grid;
  grid-template-columns: 344px;
  background: var(--color-background);
  margin-top: 2px;
  justify-content: center;
  gap: 0;
}

/* Tablet */
@media (min-width: 768px) {
  .page {
    padding: 24px 40px 0;
  }

  .grid {
    grid-template-columns: repeat(2, 377px);
    justify-content: center;
    gap: 0;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(auto-fit, 344px);
    justify-content: center;
    gap: 0;
  }
}
