.grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 16px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 40px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(5, 1fr);
    padding: 0 100px;
  }
}
