.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--navbar-height);
  width: 100%;
  padding: 24px 16px; // Mobile
  background-color: var(--color-background);
}

/* Tablet */
@media (min-width: 768px) {
  .header {
    padding: 24px 40px;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .header {
    padding: 24px 100px;
  }
}

.logo {
  display: flex;
  align-items: center;
  color: var(--color-text-primary);

  svg {
    width: 74px;
    height: 24px;
    display: block;
  }
}

.cartLink {
  text-decoration: none;
  color: var(--color-text-primary);
}

.cartPill {
  display: inline-flex;
  align-items: center;
  height: 26px;
  padding: 4px 0;
  gap: 6px;
}

.cartCount {
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
}
