.wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-sm) + var(--spacing-xs));
  padding: calc(var(--spacing-sm) + var(--spacing-xs)) 0px;
  background: var(--color-background);
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--color-primary);
  background: transparent;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  padding: 0 28px 8px 0;
  outline: none;
  &::placeholder {
    color: var(--color-placeholder);
    font-weight: 300;
  }
}

.clearButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  border: 0;
  background: transparent;
  padding: var(--spacing-xs);

  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  color: var(--color-text-primary);

  &:hover {
    opacity: 0.7;
  }
}

/* “20 RESULTS” */
.resultsCount {
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--color-text-primary);
}
